<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button
      aria-label="Toggle sidenav"
      (click)="drawer.toggle()"
      color="primary"
      mat-icon-button
      type="button"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>OpenID Connect Demo</span>
    <span class="toolbar-fill-remaining-space"></span>
    <!-- Profile menu -->
    <mat-menu #appMenu="matMenu">
      <ng-template matMenuContent let-name="name">
        <button mat-menu-item (click)="openProfile()">
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Signout {{loginModel?.userinfo?.name}}</span>
        </button>
      </ng-template>
    </mat-menu>
    <span>
      <img class="mat-card-avatar" [src]="loginModel?.userinfo?.picture"
        #matMenuTrigger="matMenuTrigger" 
        [matMenuTriggerFor]="appMenu" 
        (mouseenter)="matMenuTrigger.openMenu()">
    </span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a mat-list-item routerLink='/home'>Home</a>
      <a mat-list-item routerLink='/protected'>Protected</a>
      <a mat-list-item routerLink='/unprotected'>Unprotected</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>