

.unprotected-card {
    max-width: 400px;
    margin: auto;
}
  
.unprotected-header-image {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/30/15/40/castle-1290860_1280.jpg');
    background-size: cover;
}

.unprotected-json {
    color: grey;
    text-align: left;
    font-family: "Courier New"
                 Courier
                 monospace;
    font-size: x-small;
    overflow-y: scroll;
    overflow-x: scroll;
}

.unprotected-paragraph-justify {
    text-align: justify;
}

.unprotected-url-text {
    color: blue;
}

pre {
    font-family: "Courier New"
                 Courier
                 monospace;
  }

mat-card-content {
    height: 600px;
    overflow: scroll;
}