<div layout-align="center center">
        <mat-card class="unprotected-card">
            <mat-card-header>
              <div mat-card-avatar class="unprotected-header-image"></div>
              <mat-card-title>Access Unprotected API Endpoint</mat-card-title>
              <mat-card-subtitle class="unprotected-url-text">https://localhost:4250/api/ping</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="https://image.slidesharecdn.com/backendtofrontend-140227030449-phpapp01/95/backend-to-frontend-7-638.jpg?cb=1393470390" alt="Rest API Architecture">
                <p class="unprotected-paragraph-justify ">
                    This page has sent a request to an unprotected Flask API endpoint. There is no check made
                    by the endpoint for receiving a valid access token.
                </p>
                <mat-accordion [displayMode]="flat">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>More</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="unprotected-paragraph-justify ">
                            The request is processed by the <a href="http://flask.pocoo.org">Flask</a> API, at 
                            <span class="unprotected-url-text">https://localhost:4250</span>, and a response is
                            returned.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel expanded="expanded">
                        <mat-expansion-panel-header>
                            <mat-panel-title>JSON Response</mat-panel-title>
                        </mat-expansion-panel-header>
                        <pre class="unprotected-json">{{ response | json }}</pre>
                    </mat-expansion-panel>
                </mat-accordion>
               
            </mat-card-content>
            <mat-card-actions>
              <button mat-button routerLink="/home">HOME</button>
            </mat-card-actions>
        </mat-card>
</div>