

.protected-card {
    max-width: 400px;
    margin: auto;
}
  
.protected-header-image {
    background-image: url('https://cdn.pixabay.com/photo/2014/04/03/00/32/padlock-308589_1280.png');
    background-size: cover;
}

.protected-json {
    color: grey;
    text-align: left;
    font-family: "Courier New"
                 Courier
                 monospace;
    font-size: x-small;
    overflow-y: scroll;
    overflow-x: scroll;
}

.protected-paragraph-justify {
    text-align: justify;
}

.protected-url-text {
    color: blue;
}

pre {
    font-family: "Courier New"
                 Courier
                 monospace;
}

mat-card-content {
    max-height: 600px;
    overflow: scroll;
}