<mat-card class="protected-card">
    <mat-card-header>
      <div mat-card-avatar class="protected-header-image"></div>
      <mat-card-title>Access Protected API Endpoint</mat-card-title>
      <mat-card-subtitle class="protected-url-text">https://localhost:5001/api/protected</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image src="https://qph.fs.quoracdn.net/main-qimg-e01eb7d8d171902565f8ac9e4a583b18" alt="Reverse Proxy Image">
        <p class="protected-paragraph-justify ">
                This page has sent a request to a protected Flask API endpoint, i.e. a valid access token is
                required as authorisation to make the request. 
        </p>   
        <mat-accordion [displayMode]="flat"> 
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>More</mat-panel-title>
                </mat-expansion-panel-header>
                <p class="protected-paragraph-justify ">
                    The ASP.NET MVC host uses a reverse proxy to forward <em>/api/*</em> requests upstream to the 
                    <a href="http://flask.pocoo.org">Flask</a> API, at 
                    <span class="protected-url-text">https://localhost:4250</span>.
                </p>
                <p>
                    The reverse proxy is implemented using <a href="https://github.com/damianh/ProxyKit">ProxyKit</a>. 
                    This piggybacks an authorization header onto the original request:
                </p>
                <pre>Authorization:Bearer &lt;acess token&gt;</pre>
                <p class="protected-paragraph-justify">
                    Click on the <em>Bypass Proxy</em> link to bypass the proxy and send a request to the Flask API 
                    protected endpoint directly. An unauthorised response status of 401 should be returned, i.e.
                    there is no access token in the request.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel expanded="expanded">
                <mat-expansion-panel-header>
                    <mat-panel-title>JSON Response</mat-panel-title>
                </mat-expansion-panel-header>
                <pre class="protected-json">{{ response | json }}</pre>
            </mat-expansion-panel>    
        </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="callAPIProtected()">BYPASS PROXY</button>
      <button mat-button routerLink="/home">HOME</button>
    </mat-card-actions>
</mat-card>
