.home-paragraph-justify {
    text-align: justify;
}

.home-card {
    max-width: 800px;
    margin: auto;
}
  
.home-header-image {
    background-image: url('https://cdn.pixabay.com/photo/2014/11/21/17/17/country-house-540796_1280.jpg');
    background-size: cover;
}