<mat-card class="home-card">
    <mat-card-header>
        <div mat-card-avatar class="home-header-image"></div>
        <mat-card-title>Home</mat-card-title>
    </mat-card-header>    
    <mat-card-content>
        <article>
            <section>
                <p class="home-paragraph-justify">
                    This is a small Angular 8 website that serves to demonstrate the use
                    of the alternative 
                    <a href="https://tinyurl.com/y3btctne">architecture</a> for securing
                    SPA applications proposed by (Baier, D). An overview of the 
                    architecture is illustrated below:
                </p>
                <img src="/assets/images/architecture.png" alt="Architecture">
            </section>
            <section>
                <h3>ASP.NET Core</h3>
                <p class="home-paragraph-justify">
                    ASP.NET Core is used to provide OpenID Connect authentication and 
                    session management using samesite cookies. All incoming requests are 
                    intercepted and authenticated using OpenID Connect via the 
                    <a href="https://localhost:5201">local</a> IdentityServer4 
                    instance. PostgreSQL is used as a persistent store for IdentityServer4
                    clients, grants, tokens etc. 
                </p>
                <p class="home-paragraph-justify">
                    Essentially, this also serves as an API gateway to a small 
                    <a href="http://flask.pocoo.org">Flask</a> API server. 
                    <a href="https://github.com/damianh/ProxyKit">ProxyKit</a>, is used as a 
                    reverse proxy to intercept requests made to <em>/api/*</em>. This 
                    piggybacks an access token to an Authorization bearer header, before 
                    sending upstream to the Flask API.
                </p>
            </section>
            <section>
                <h3>Flask API</h3>
                <p class="home-paragraph-justify" alt="TODO">
                    The Flask API acts as a private backend, containing the following endpoints:
                </p>
                <ul type="circle">
                    <li><strong>/api:</strong> Returns response <em>index</em>.</li>
                    <li><strong>/api/ping:</strong> Returns response <em>pong.</em></li>
                    <li>
                        <strong>/api/protected:</strong> Requires authorisation via a valid
                        access token. Returns response <em>protected</em>.
                    </li>
                </ul>
                <p class="home-paragraph-justify">
                    <a href="https://flask-oidc.readthedocs.io/en/latest/">Flask-OIDC</a> 
                    is used to check the protected endpoint for a valid access token. The 
                    protected endpoint requires a valid access token served from the 
                    <a href="https://localhost:5201">local</a> IdentityServer4 instance. 
                    Additionaly, the access token should be active, i.e. it should
                    not have expired, and must contain the <em>api</em> scope.
                </p>
            </section>
            <section>
                <h3>Demo Overview</h3>
                <p>
                    The <em>protected</em> menu option triggers a request to the protected
                    API endpoint via the proxy. For demonstration purposes an option to bypass 
                    the proxy and make a direct request to the protected API is also provided.
                    In this case, a 401 unauthorised response is returned since no access token 
                    is received.
                </p>
                <p>
                    The <em>unprotected</em> menu option triggers a request to an unprotected
                    API endpoint. The proxy is bypassed, i.e. it is made direct to the API endpoint.
                </p>
            </section>
        </article>
    </mat-card-content>
</mat-card>