<h2 mat-dialog-title>Profile</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput type="text" placeholder="Given Name" formControlName="given_name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Family Name" formControlName="family_name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Preferred Username" formControlName="preferred_username">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Website" formControlName="website">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Picture" formControlName="picture">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" color="accent" (click)="close()">Close</button>
</mat-dialog-actions>
